.khan{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 105px;
  background-color: #f2f2f2;
  margin: 0 auto -280px auto;
  overflow: hidden;
}
