.feynman{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 890px;
  align-items: center;
  background-color: #f2f2f2;
  margin: 0 auto 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
